[flake8]
max-line-length = 125
max-local-variables = 7

ignore =
    # Missing parameter(s) in Docstring
    DAR101,

    # Missing "Returns" in Docstring
    DAR201,

    # Missing exception(s) in Raises section
    DAR401,

    #  Found too long ``try`` body length
    WPS229,

    # F-strings is OK
    WPS305,

    # Found class without a base class - dataclass used
    WPS306,


per-file-ignores =
    # WPS115 Found upper-case constant in a class
    # WPS426 Found `lambda` in loop's body
    # WPS432 Found magic number
    # WPS462 Wrong multiline string usage

    telegram_publisher/settings.py: WPS115, WPS432,
    telegram_publisher/models.py: WPS432,
    telegram_publisher/trips_selector.py: WPS426,
    telegram_publisher/publisher.py: WPS462,


